@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap");

$font:  -apple-system, BlinkMacSystemFont, "Maven Pro", "Roboto", "Oxygen", "Ubuntu", sans-serif;

/* Light theme */
$light-white: #F4F6F4;
$light-blue: #BCD1EB;
$bright-blue: #3B71B3;
$queen-blue: #466995;
$dark: #1A1423;
$light-gray: #C8C8C8;
$dark-blue: #0A2445;